/* CSS RESET ALA ERIC MEYER */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* STYLEZ */
body {
	padding: 0;
	margin: 0;
	background: white;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: black;
}
#video {
	transform: scaleX(-1);
	display: block;
	position: absolute;
	z-index: 3;
	opacity: .3;

}
#drawing {
	display: none;
}
#source {
	display: none;
}
#temp {
	display: none;
}
#output, #narrative {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #000;
}
#narrative {
	background: pink;
	width: 910px;
	height: 700px;
	z-index: 1;
}
#output {
	z-index: 2;
}
h1 {
	font-size: 4em;
	text-align: center;
	margin-top: 200px;
	font-weight: 900;

}